<?xml version='1.0' encoding='utf-8'?>
<widget
        id="com.phonegap.taxcalc"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Tax Calculator 2017</name>
    <description>
        Federal and Ontario Tax Calculator for 2017
    </description>
    <author email="tolulopeibiyode@gmail.com" href="#">
        Gods1son
    </author>
    <preference name="orientation" value="portrait"/>
    <preference name="permissions" value="none"/>
    <preference name="android-build-tool" value="gradle" />
    <content src="index.html" />
    <icon height="48" src="android-icon-48x48.png" width="48"/>
    <splash platform="android" qualifier="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
    <splash platform="android" qualifier="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
    <splash platform="android" qualifier="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />

</widget>
